[*.{cs,vb}]

# IDE0046: Convert to conditional expression
dotnet_style_prefer_conditional_expression_over_return = false:suggestion


# CS8524: The switch expression does not handle some values of its input type (it is not exhaustive) involving an unnamed enum value.
dotnet_diagnostic.CS8524.severity = none

# CS8509: The switch expression does not handle all possible values of its input type (it is not exhaustive).
dotnet_diagnostic.CS8509.severity = none

# IDE0045: Convert to conditional expression
dotnet_style_prefer_conditional_expression_over_assignment = false:suggestion

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable:none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none

# CA1012: Abstract types should not have constructors
dotnet_diagnostic.CA1012.severity = none

# CS3021: Type or member does not need a CLSCompliant attribute because the assembly does not have a CLSCompliant attribute
dotnet_diagnostic.CS3021.severity = none

# RS2008: Enable analyzer release tracking
dotnet_diagnostic.RS2008.severity = none
